body {
    border:solid;
}


.container {
    border:solid 5px black;
    width:200px;
    height:100px;
    background-color: red;
     /* display:flex;  */
    /* flex-wrap: wrap; */
    display: inline-block;
    text-align:center;
    align-items: stretch;
    align-content: flex-start;
}

#div1 {
    order: 1;
}

#div2 {
    order: 2;  
}

#div3 {
    order: 3;   
}

#div4 {
    order: 4; 
    padding-right:25px;
    padding-left: 25px;}

#div5 {
    order: 5;  
}

#div6 {
    order: 6;
}